
.name{
    font-size: 4em;
}
.arrow-down{
    margin-left:40px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #2b2929;
      
}
.bgColor{
    background-color: #2b2929;
    width:120px;
    height:60px;
    color:white;
}
/*My name */
.delay1{
    animation-delay:1000ms
}
.delay2{
    animation-delay: 1100ms;
}
.delay3{
    animation-delay: 1200ms;
}

.delay4{
    animation-delay: 1300ms;
}

.delay5{
    animation-delay: 1400ms;
}

.delay6{
    animation-delay: 1500ms;
}
.delay7{
    animation-delay: 1600ms;
}

.delay8{
    animation-delay: 1700ms
}

.delay9{
    animation-delay: 1800ms;
}
.delay10{
    animation-delay: 1900ms;
}
.delay11{
    animation-delay:2000ms
}
.delay12{
    animation-delay:2100ms
}
.delay13{
    animation-delay:2200ms
}
.delay14{
    animation-delay:2300ms
}
.delay15{
    animation-delay:2400ms
}



.animationDelay{
    animation-delay: 3000ms;
}
.talk{
    background: #e45447;
    animation-delay:4000ms;
    text-align: center;
    margin-left:270px;
    border-radius:50%;
    width:80px !important;
    height: 80px !important;
    transition-property: transform;
    transition-duration: 4s;
    transition-delay: 2s;
   
}
.talk:hover{
    
    transform:scale(2);
    cursor:pointer
/*My name*/
}
.cursor {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 99;
  }
  
  .letterZ:hover ~ .cursor {
    transform: scale(6);
  }
  .round{
    border-radius:50%;
    background-color: #e45447;
    height:15px;
    width:15px;
  }
  .rounded-line{
      height: 4px;
      width:180px;
      background-color:#e45447;
  }
  .services-details{
      background-color: #f2f0ee;
      /* margin-left:200px; */
  }

.desktop{
    top:150px;
}
.desktopScreen{
    top: -70px;
}
.desktopTable{
    top:140px;
}
.dashboard1{
 top:-130px;
 left:-130px;
 z-index: 2;
}
.dashboard2{
    top:-100px ;
    right:-60px;
    z-index: 2;
}

.dashboard3{
    top:-10px;
    left:-130px;
    z-index: 2; 
}

.dashboard4{
    top:-10px;
    right:-60px;
    z-index: 2;
}

.seeworkButton{
    background-color: #e45447;
    opacity:0.2;
    transition-property: transform;
    border-radius: 50%;
    height:80px;
    width:80px;
    left:20px;
}
.seeworkTitle{
    left:50px;
    top:20px;
}
.seeworkContainer{
    transition-property:all;
    
}

.seeworkContainer:hover{
    background-color: #e45447;
    width:200px;
    height:80px;
    border-radius:25%;
}