@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Updock&display=swap'); 

*{
    font-family: 'Roboto', sans-serif;
}
.alignImg{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left:40px;
    padding-right: 50px;
}
.alignItems{
    display: inline;
}
.marginMail{
    margin-left: 172px;
}
.bgchange{
    color:#58595b;
    transition: all .2s;
    /* transition: transform .7s ease-in-out; */
  }
.bgchange:hover{
    background-color: #e45447;
    color: #f2f0ee;
    box-shadow: 0 1rem 2rem rgb(43 41 41 / 40%);
        transform: rotate(-30deg) !important;
}
.name{
    font-size: 4em;
}
.arrow-down{
    margin-left:40px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #6c757d;
      
}

.animationDuration{
    /* animation-duration: 5s; */
    transition: all 500ms ease
}