@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Updock&display=swap'); 

*{
    font-family: 'Roboto', sans-serif;
}
.alignImg{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left:40px;
    padding-right: 50px;
}
.alignItems{
    display: inline;
}
.marginMail{
    margin-left: 172px;
}
.bgchange{
    color:#58595b;
    transition: all .2s;
    /* transition: transform .7s ease-in-out; */
  }
.bgchange:hover{
    background-color: #e45447;
    color: #f2f0ee;
    box-shadow: 0 1rem 2rem rgb(43 41 41 / 40%);
        transform: rotate(-30deg) !important;
        /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto; */
}
.name{
    font-size: 4em;
}
.arrow-down{
    margin-left:40px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #2b2929;
      
}
.bgColor{
    background-color: #2b2929;
    width:120px;
    height:60px;
    color:white;
}
/*My name */
.delay1{
    animation-delay:1000ms
}
.delay2{
    animation-delay: 1100ms;
}
.delay3{
    animation-delay: 1200ms;
}

.delay4{
    animation-delay: 1300ms;
}

.delay5{
    animation-delay: 1400ms;
}

.delay6{
    animation-delay: 1500ms;
}
.delay7{
    animation-delay: 1600ms;
}

.delay8{
    animation-delay: 1700ms
}

.delay9{
    animation-delay: 1800ms;
}
.delay10{
    animation-delay: 1900ms;
}
.delay11{
    animation-delay:2000ms
}
.delay12{
    animation-delay:2100ms
}
.delay13{
    animation-delay:2200ms
}
.delay14{
    animation-delay:2300ms
}
.delay15{
    animation-delay:2400ms
}



.animationDelay{
    animation-delay: 3000ms;
}
/*My name*/

.cursor {
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 99;
  }
  
  .letterZ:hover ~ .cursor {
    transform: scale(6);
  }
  