/* .alignItems{
    dis
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Updock&display=swap'); 

*{
    font-family: 'Roboto', sans-serif;
}
.alignImg{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left:40px;
    padding-right: 50px;
}
.alignItems{
    display: inline;
}
.bgchange{
    transition: all .2s;
  }
.bgchange:hover{
    background-color: #e45447;
    color: #f2f0ee;
    /* box-shadow: 0 1rem 2rem rgb(43 41 41 / 40%); */
    transform: rotate(-5deg) scale(1.1);
    
}
.name{
    font-size: 4em;
}