@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Updock&display=swap'); 

*{
    font-family: 'Roboto', sans-serif;
}
.App{
  background-color: #F2F0EE;
  padding-top: 80px;
  
}

.AppContainer{
  background-color: white;
  margin:auto;
  width:1500px;
  border-radius: 10px;
  height:100%;
  box-sizing: border-box;
}

.alignImg{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left:40px;
    padding-right: 50px;
}
.alignItems{
    display: inline;
}
.marginMail{
    margin-left: 172px;
}
.bgchange{
    color:#58595b;
    transition: all .2s;
    /* transition: transform .7s ease-in-out; */
  }
.bgchange:hover{
    background-color: #e45447;
    color: #f2f0ee;
    box-shadow: 0 1rem 2rem rgb(43 41 41 / 40%);
        transform: rotate(-30deg) !important;
        /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto; */
}
.letterZ{
  width:10px;

}
.letterZ0,.letterZ1{
  font-family: 'Updock', cursive;
  position:relative;
  font-size:3.7em;
  color:#58595b;
  
}
.letterZ0{
  top:26px;
  left:38px;
}
.letterZ1{
  top:-60px;
  left:45px;
}

.loader{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}